.NavigationItem {
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid black;
    border-right: none;
    text-align: left;
}
.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem  a:hover,
.NavigationItem a:active {
     color: orange;
}